{% extends "base.html" %}

{% block content %}
<p><br>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-parent">
      <p class="title" style="font-family:gilmer-web,Gilmer,Geneva,Tahoma,Helvetica,Verdana,sans-serif;">Application Data</p>
      <p><font color="#363942">This table represents our application view.  Transit protects data "in motion" meaning that to users (and applications) the encryption and decryption is largely invisible.</font></p>
  </div>
</div>

{% if record_added %}
  <div class="notification is-success">
    <button class="delete"></button>
    Record successfully added
  </div>
{% endif %}

{% if record_updated %}
  <div class="notification is-info">
    <button class="delete"></button>
    Record successfully updated
</div>
{% endif %}

  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th><abbr title="Customer Number">Cust #</th>
        <th><abbr title="First Name">First</th>
        <th><abbr title="Last Name">Last</th>
          <th><abbr title="Birthdate">Date of Birth</th>
            <th><abbr title="Social Security Number">SSN</th>
            <th><abbr title="Credit Card Number">Credit Card Number</th>
        <th><abbr title="Address">Address</th>
        <th><abbr title="Annual Salary">Salary</th>
          <th><abbr title="Member Since">Created</th>
          </tr>
    </thead>
    <tbody>
      {% for record in results %}
      <tr>
        <td>{{ record['customer_number'] }}</td>
        <td>{{ record['first_name'] }}</td>
        <td>{{ record['last_name'] }}</td>
        <td>{{ record['birth_date'] }}</td>
        <td>{{ record['ssn'] }}</td>
        <td>{{ record['ccn'] }}</td>
        <td>{{ record['address'] }}</td>
        <td>{{ record['salary'] }}</td>
        <td>{{ record['create_date'] }}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

{% endblock %}